.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  margin: 5px 0;
}

.separator {
  border: 2px solid #006d38b7;  
  width: 900px;
  margin-bottom: 40px;
  text-align: center;
  background: #d5ffeb;
}